[project]
	description = Administracion de Efectivo Bancomer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Juan Perez Jolote (sidlors)
[access "refs/for/refs/*"]
	read = group user/Juan Perez Jolote (sidlors)
	push = group user/Juan Perez Jolote (sidlors)
	label-Code-Review = -2..+2 group user/Juan Perez Jolote (sidlors)
	label-Verified = -1..+1 group user/Juan Perez Jolote (sidlors)
	rebase = group user/Juan Perez Jolote (sidlors)
	removeReviewer = group user/Juan Perez Jolote (sidlors)
	submit = group user/Juan Perez Jolote (sidlors)
[access "refs/heads/*"]
	read = group user/Juan Perez Jolote (sidlors)
	create = group user/Juan Perez Jolote (sidlors)
	push = +force group user/Juan Perez Jolote (sidlors)
	pushMerge = group user/Juan Perez Jolote (sidlors)
[access "refs/tags/*"]
	push = +force group user/Juan Perez Jolote (sidlors)
	pushTag = group user/Juan Perez Jolote (sidlors)
	pushSignedTag = group user/Juan Perez Jolote (sidlors)
